.profile__button-edit {
  background-image: url(../../../images/EditButton.svg);
  width: 24px;
  height: 24px;
  /* display: block; */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  margin-left: 18px;
  padding: 7px;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.profile__button-edit:hover {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
