.profile__button-edit {
  background-image: url(../../../images/EditButton.svg);
  width: 24px;
  height: 24px;
  /* display: block; */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  cursor: pointer;
  margin-left: 18px;
  padding: 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  transition: opacity 0.1s linear;
}


@media screen and (max-width: 900px) {
  .profile__button-edit {
    left: 255px;
    top: 280px;
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
