.popup__form-text {
  width: 358px;
  height: 14px;
  border: none;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
}

.popup__form-text:last-of-type {
  margin-top: 30px;

}

@media screen and (max-width:900px) {
  .popup__form-text {
    width: 238px;
  }
}
