.header__logo {
  max-width: 142px;
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  /* padding-right: 938px ; */
}

@media screen and (max-width: 900px) {
  .header__logo {
    max-width: 103.74px;
    padding-left: 27px;
  }
}
