.header {
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  justify-content: start;
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


@media screen and (max-width: 900px) {
  .header {
    min-height: 56px;
    margin: 28px 0 0;
  }
}
