.profile__info {
  display: flex;
  align-items: baseline;
  align-self: end;
}

@media screen and (max-width: 900px) {
  .profile__info {
    max-width: 320px;
    padding-top: 26px;
    align-self: center;
  }
}
