.button__delete{
    background-image: url(../../../images/delete.svg);
    background-color: Transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    border: none;
    transition: opacity .5s linear;

}

.button__delete:hover {
    opacity: .5;
}
