.profile__info {
  display: flex;
  align-items: center;
  /* align-items: baseline; */
  /* max-width: 336px; */

  /* margin-top: 22px;
  margin-left: 0;
  margin-bottom: 25px;
  row-gap: 13px; */
  /* column-gap: 18px; */

}
